a[href="#main"], a[href="#main"]:visited {
    position: absolute;
    top: 0;
    right: 100%;
    display: block;
    background: var(--primary);
    padding: 1em;
    color: #fff;
    z-index: 10;
}

a[href="#main"]:focus {
    right: auto;
}

a:focus {
    outline: 2px solid var(--primary);
}

[tabindex="-1"] {
    outline: none;
}