section.intro {
    background: var(--primary);
    padding: 2rem 0;
    color: white;
}

section.intro .home.wrapper {
    display: block;
}

.home.wrapper.posts li {
    list-style-image: url('/static/img/garlic-bullet.svg');
}

.home.wrapper.posts li a {
    font-size: 1.5rem;
}

section.intro .wrapper {
    display: flex;
    align-items: center;
}

section.intro .wrapper h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}