<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<a href="#main">Skip to main content</a>
		<header>
			<div class="wrapper">
				<a href="{{ '/' | url }}" aria-label="Lots of Garlic - Home">{% include "assets/img/lots-of-garlic-logo.svg" %}</a>
				{% include "components/nav.njk" %}
			</div>
		</header>
		<main tabindex="-1" id="main">
			<section class="intro" aria-labelledby="welcome">
				<div class="[ home ] [ wrapper ]">
					<h1 id="welcome">Welcome to Lots of Garlic!</h1>
					<p>Thanks for visiting my little space on the Internet. Here you'll find blog posts about my experiences with an autoimmune disease and recipes with autoimmune-friendly ingredients - and usually lots of garlic.</p>
				</div>
			</section>
			<div class="[ home ] [ wrapper ] [ posts ]">
				<ul>
				{{ layoutContent | safe }}
				{% for post in collections.post | reverse %}
				<li>
					<a href="{{ post.url | url }}">
						{% if post.data.title %}
							{{ post.data.title }}
						{% else %}
							Untitled
						{% endif %}
					</a>
				</li>
				{% endfor %}
				</ul>
			</div>
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>