<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<a href="#main">Skip to main content</a>
		<header>
			<div class="wrapper">
				<a href="{{ '/' | url }}" aria-label="Lots of Garlic - Home">{% include "assets/img/lots-of-garlic-logo.svg" %}</a>
				{% include "components/nav.njk" %}
			</div>
		</header>
		<main tabindex="-1" id="main">
			<div class="[ internal ] [ wrapper ]">
				{{ layoutContent | safe }}
			</div>
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>